
.section {
  display:flex;
  width: 100vw;
  height: 100vh;
}
.bow {
  background: #D4AF37; /*Metallic gold */
  border: gold 2px solid;
}
#bowAcross {
  position: absolute;
  height: 90px;
  width: 100%;
  top: 10%;
}
#bowUp {
  position: absolute;
  height: 100%;
  width: 90px;
  left: 10%;
}
.bowTag {
    width: 200px;
    position: absolute;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/6859/tag.svg) no-repeat center center;
    background-size: 100% 100%;
    display: block
}
.MerryChristmasContainer {
  background: -webkit-repeating-linear-gradient(
    45deg, 
    #f2f2f2, 
    #f2f2f2 40px, 
    #e50000 40px, 
    #e50000 120px);
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px #e50000 solid;
}
#MerryChristmas {
  background: white;
  border: 5px solid goldenrod;
  padding: 3px;
  width:400px;
  text-align:center;
}

#MerryChristmas  p {
  font-size: 40px;
  font-family: 'Brush Script MT';
  color: goldenrod;
  /*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}

#phone {
  align-self:center;
  width: 180px;
  margin: 0 auto;
  border: 6px solid #666666;
  height: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 40px 40px 40px 40px;
}

.sms {
  opacity: 0;
  width: 70%;
  height: 20px;
  left: 5%;
  bottom: 70px;
  background: white;
  border-radius: 6px;
  padding: 2px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  box-shadow: 0 5px 15px rgba(black, 0.2);
  position: absolute;
  z-index: 10;
}

body {
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}

/* BAR CHART SECTION */
#rotatingText {
  text-align: left;
  width: 500px;
}
.textRotateBox {
  display:inline-block;
  font-size: 40px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#barChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#barchart {
  display: flex;
  align-self: flex-start;
  padding-left: 10%;
  flex-direction: row;
}

#barChartTitle {
  text-align: center;
}

.divider {
  height: 200px;
}

/* BOOK  CHAPTER SECTION */
.book {
  position: relative;
  width: 20rem;
  height: 26rem;
  margin: 2em auto;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.cover,
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: inherit;
  transition: inherit;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.cover {
  z-index: 100;
  -webkit-transform: perspective(700) rotateY(0deg);
          transform: perspective(700) rotateY(0deg);
  background: goldenrod -webkit-linear-gradient(0deg, transparent 3%, rgba(0, 0, 0, 0.1) 5%, transparent 6%);
  background: goldenrod linear-gradient(90deg, transparent 3%, rgba(0, 0, 0, 0.1) 5%, transparent 6%);
}
.cover h2 {
  font-size: 1.3em;
  font-family: 'UnifrakturCook', cursive;
  padding-top: 25%;
  padding-bottom:25%;
  text-align: center;
  color: #fff;
}
.page {
  padding: 1.1em;
  font-family: 'PT Serif', serif;
  font-size: 0.65em;
  line-height: 1.2em;
  color: #222;
}
.page:before {
  content: '';
  height: 100%;
  position: absolute;
  width: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: inherit;
  transition: inherit;
}
.page:after {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: solid 0px transparent;
  border-top-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: inherit;
  transition: inherit;
  box-shadow: 0px -13rem 0px 0px #ffffff;
}

.page:nth-child(2) {
  -webkit-transform: perspective(700) rotateY(180deg) translateX(-100%);
          transform: perspective(700) rotateY(180deg) translateX(-100%);
  background: #ffffff -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.1) 100%);
  background: #ffffff linear-gradient(90deg, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.1) 100%);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.page:nth-child(2):before {
  left: 0;
}
.page:nth-child(2):after {
  left: 1px;
}
.page:nth-child(3) {
  background: #ffffff -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 3%);
  background: #ffffff linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 3%);
  border-left: solid 1px rgba(0, 0, 0, 0.2);
}
.page:nth-child(3):before {
  right: 0;
}
.page:nth-child(3):after {
  left: -1px;
}

#newChapter {
  text-align: center;
}

#newChapter .h1 {
  margin-top:50%;
}

.page p {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  margin:.5em;
}

.open {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.open .cover {
  -webkit-transform: perspective(700) rotateY(-180deg);
          transform: perspective(700) rotateY(-180deg);
}
.open .page:nth-child(2) {
  z-index: 200;
  -webkit-transform: perspective(700) rotateY(0deg) translateX(-100%);
          transform: perspective(700) rotateY(0deg) translateX(-100%);
}
.open .page:before {
  width: 3px;
}
.open .page:after {
  border-width: 3px;
  bottom: -3px;
}

#book *,
*:before,
*:after {
  box-sizing: border-box;
}


/*#phone:hover .sms {
  -webkit-transform: translateY(-25px);
  -webkit-transition-duration: .25s;
  transition-timing-function: linear;
  transform: translateY(-25px);
  transition-duration: .25s;
}
*/